body{

    background-color: #1F7DC3;

  }

  h1{

    color: rgb(0, 0, 0);
    text-align: center;

  }

  header{

    width: 100%;
    background-color: #1F7DC3;

  }

  .Logo{

    text-align: center;
    color: black;
    font-size: 1.5em;

  }

  nav{
    
    text-align: center;
    color: black;
    font-size: 1.5em;

  }

  .Banner{

    width: 100%;
    height: 20%;

  }

  .Container{
    
    background-color: #1F7DC3;
    width: 80%;
    margin: auto;

  }

  footer{

    background-color: #1F7DC3;
    width: 100%;

  }

  .Batman{

    width: 30%;
    height: 30%;

  }

  .Pororo{

    width: 30%;
    height: 30%;

  }

  .Fria {

    width: 30%;
    height: 30%;

  }

  .Club{

    width: 30%;
    height: 30%;

  }

  .Onda{

    width: 30%;
    height: 30%;

  }

  .Pocoyo{

    width: 30%;
    height: 30%;

  }
  
  .Pica{

    width: 30%;
    height: 30%;

  }

  .Pablo{

    width: 30%;
    height: 30%;

  }

  .Recruta{

    width: 30%;
    height: 30%;

  }

  .Pingu{

    width: 30%;
    height: 30%;

  }